.abtBackground {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    padding: 200px 0;
  }
  
  .abtBackground img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 615px;
    object-fit: cover;
    object-position: center;
    z-index: -999;
  }
  
  .aboutUsHeading {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -999;
    color: white;
    font-size: 115px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .subtitle {
    text-transform: uppercase;
    color: #999;
    letter-spacing: 3px;
    font-size: 14px;
    text-align: center;
    padding: 50px 0 50px 0;
  }
  
  .demo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #363636;
    margin-block-end: 1em;
    display: block;
  }
  
  .hr {
    max-width: 50%;
    color: red;
    margin-top: 10px;
  }