.registration-page {
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: end;
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 675px;
}

.registration-page .reg_overlay {
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
}

.registration-page .reg_overlay-image {
    background: url(../../images/login.jpeg) no-repeat right;
    background-size: cover;
    filter: brightness(0.5);
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.registration-page .reg_overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    color: var(--white-color);
    top: 0;
    height: 100%;
}

.registration-page .reg_form {
    background: linear-gradient(229.6deg, #8BC5CB 50%, #51A8B1 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 104px;
    height: 100%;
}

.registration-page .reg_heading {
    color: var(--primary-color);
    margin: -50px 0 50px 0;
}

.registration-page .reg_form .form-group span {
    left: 0;
}

.registration-page .reg_form input {
    caret-color: var(--primary-color) !important;
}