.signCustomContainer .signFormContainer .form-group .contactTxt {
    color: var(--primary-color);
    position: absolute;
    top: 11px;
    left: 0;
    transition: all 0.2s ease;
    transform-origin: 0 0;
    cursor: text;
}

.main_header {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.signPRG {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.signForm {
    background: linear-gradient(229.6deg, #8BC5CB 50%, #51A8B1 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.signCustomContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 900px;
    height: 675px;
}

.customSign:hover {
    color: var(--secondary-color) !important;
}

.signFormContainer {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 50%;
    z-index: 2;
}

.overlay-sign {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.overlay {
    background: url(../../images/login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    filter: brightness(0.5);
    position: relative;
    height: 100%;
    width: 100%;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    color: var(--white-color);
    top: 0;
    height: 100%;
}