.form_contact {
  background: linear-gradient(230deg, #51A8B1 50%, #8BC5CB 60%);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.contactInner {
  max-width: 758px;
  margin: auto;
  border: 10px solid var(--primary-color);
  padding: 77px 110px 87px;
  background: linear-gradient(229.6deg, #8BC5CB 50%, #51A8B1 65%);
}

.contactHeading {
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--primary-color);
}

.contactPrg {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8;
  color: var(--primary-color);
}

.form-group {
  position: relative;
  display: block;
  margin-bottom: 48px;
}

.form-group span {
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
  color: var(--primary-color);
}

.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all 0.15s ease;
  background: transparent;
}

.form-group input {
  caret-color: var(--primary-color);
}

.form-control {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background: none;
}

.form-control:focus {
  background: transparent;
  color: #fff;
  box-shadow: none;
  border-bottom: 1px solid var(--primary-color) !important;
}


.form-control:focus+span,
.form-control:valid+span {
  transform: translateY(-35px) scale(0.8);
}

textarea.textarea {
  vertical-align: text-bottom;
  resize: vertical;
  overflow: hidden;
  resize: none;
  height: 10px;
  caret-color: var(--primary-color);
}