@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "cera pro";
  src: url(/src/assets/fonts/CeraPro-Regular.ttf) format("truetype");
}

:root {
  --white-color: #fff;
  --black-color: #000;
}

body {
  font-family: "cera pro", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);
}

/* Buy */

.buyImg {
  max-height: 100%;
  max-width: 100%;
}

.prgJustify {
  text-align: justify;
}

/* END */

.flatImg {
  width: 600px !important;
}